body {
  background-color: white;
}

.headerWords {
  float: left;
  margin-top: 20px;
  font-size: 40px;
  background-color: #00C9B0
}

.welcome {
  display: inline-block;
  margin-top: 20px;
  font-size: 40px;
  color: #00C9B0;
  background-color: black;
}
